$mainColor = rgb(0, 126, 220)
$carbgcolor = #141d27
$highlightRed = rgb(240, 20, 20)
$grey = #f3f5f7
$fontColor = rgb(7, 17, 27)
$fontColorMidGrey = rgb(77, 85, 93)
$fontColorGrey = rgb(147, 153, 159)
$borderColor = rgba(7, 17, 27, .1)
